.overflow-y-auto.relative data-mensa-table-target="view" data-controller="mensa-selection" data-mensa-selection-batch-url-value=(table.batch_actions? ? helpers.mensa.table_batch_actions_path(table.name) : "")
  - if table.batch_actions?
    .mensa-batch-bar.hidden data-mensa-selection-target="batchBar"
      .mensa-batch-bar__content
        input.mensa-table__select-all type="checkbox" data-action="click->mensa-selection#deselectAll" data-mensa-selection-target="batchAllCheckbox"
        span.mensa-batch-bar__count data-mensa-selection-target="selectedCount"
        - table.batch_actions.each do |batch_action|
          button.mensa-batch-bar__button type="button" data-action="click->mensa-selection#executeBatch" data-mensa-selection-batch-action-param=batch_action.name.to_s
            = batch_action.title
  table.w-full
    - if table.show_header?
      thead
        tr
          - if table. batch_actions?
            th.mensa-table__checkbox-col
              .container
                input.mensa-table__select-all type="checkbox" data-action="change->mensa-selection#toggleAll" data-mensa-selection-target="headerCheckbox"
          - if table.actions? && Mensa.config.row_actions_position == :front
            th Actions
          = render(Mensa::Header::Component.with_collection(table.display_columns, table: table))
          - if table.actions? && Mensa.config.row_actions_position == :back
            th Actions
    tbody
      = render(Mensa::TableRow::Component.with_collection(table.rows, table: table))
  - if table.pagy_details&.count == 0
    = render Mensa::EmptyState::Component.new(table: table)
  - elsif table.pagy_details&.last > 1
    .paging
      span = t("mensa.paging.info", model: model_name_plural, from: table.pagy_details.from, to: table.pagy_details.to, count: table.pagy_details.count)
      == table.pagy_details.series_nav(anchor_string: 'data-turbo-frame="_self"')
