<div class="max-w rounded-lg overflow-hidden bg-white shadow-lg dark:bg-gray-800 dark:shadow-none">
  <div class="bg-white border-b-2 border-neutral-100 px-6 py-3 text-gray-900 dark:border-white/10 dark:bg-gray-800 dark:text-gray-100">Users export with password</div>
  <%= table :users_export_with_password %>
</div>
