.mensa-table {
  &__views {
    @apply p-2 pl-4 shadow-lg border-b dark:bg-gray-700 dark:border-gray-600;

    a.view {
      @apply bg-gray-100 text-gray-600 dark:text-gray-400 hover:text-gray-800 hover:bg-gray-200 rounded-md px-3 py-1.5 text-sm;
    }

    a.view.selected {
      @apply bg-gray-300 text-gray-800 dark:bg-gray-500 hover:bg-gray-400;
    }
  }
}

.tippy-box[data-theme~='mensa'] {
  @apply bg-gray-200 text-gray-800 dark:text-gray-400;
}

.tippy-box[data-theme~='mensa'] .tippy-arrow {
  @apply text-gray-200;
}

