= turbo_stream.update "filters-#{@table.table_id}" do
  = render Mensa::FilterList::Component.new(table: @table)

= turbo_stream.update @table.table_id do
  = render Mensa::View::Component.new(@table)
