.mensa-table {
  @apply bg-white dark:bg-gray-500 dark:border-gray-700;

  badge {
    @apply bg-primary-100 text-primary-600 hidden ml-3 rounded-full text-xs font-medium md:inline-block py-0.5 px-2.5;
  }
  table {
    @apply min-w-full divide-y divide-gray-50 dark:divide-gray-800 border-0;

    thead {
      @apply bg-gray-50 top-0 dark:bg-gray-900 dark:font-medium dark:text-gray-400 dark:lowercase;

      tr {
        @apply divide-x divide-gray-600 cursor-move;
      }

      th {
        @apply align-bottom top-0 z-10 py-3.5 pl-4 pr-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
           border-b border-gray-300 bg-gray-100 dark:bg-gray-700 dark:text-gray-400;
      }
    }
    tbody {

      @apply divide-y divide-gray-200 dark:divide-gray-600;

      tr {
        @apply cursor-pointer bg-white dark:bg-gray-800 divide-x divide-gray-400 divide-opacity-25 hover:bg-gray-100 dark:hover:bg-gray-700;

        &:nth-child(even) {
          @apply bg-gray-50 dark:bg-gray-900 hover:bg-gray-200 dark:hover:bg-gray-700;
        }
      }

      td {
        @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400;
      }
    }
  }


  .table-wrp  {
    overflow-y: auto;
    display:block;
    // @apply max-h-[calc(100vh-235px)]; causing compilation error, alternatively another fix applied in js
  }

  .font-size-div {
    width: auto;
    display: inline-block;
    visibility: hidden;
    position: fixed;
    overflow:auto;
  }
}

/*
   Add the following markup AFTER your import statements
   Notice: this style contains all the rules for pagy-nav, pagy-nav-js and pagy-combo-nav-js
*/

.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-lg px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
  &:hover{
    @apply bg-gray-300;
  }
  &:active{
    @apply bg-gray-400 text-white;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
  &:hover {
    @apply text-gray-400 bg-gray-200;
  }
  &:active {
    @apply text-gray-400 bg-gray-200;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-white cursor-default bg-gray-400;
  &:hover {
    @apply text-white bg-gray-400;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}


.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-gray-800;
  }
  &:active {
    @apply text-gray-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}