.mensa-empty-state
  .mensa-empty-state__icon
    i class=Mensa.config.icons[:search]
  h3.mensa-empty-state__title = t("mensa.empty_state.title", model: model_name_plural)
  p.mensa-empty-state__subtitle = t("mensa.empty_state.subtitle")
  button.mensa-empty-state__button type="button" data-action="click->mensa-table#cancelFiltersAndSearch"
    = t("mensa.empty_state.clear_button")
