.grid.grid-cols-1.gap-4
  .col-span-1
    = sts.card :search_only_users, title: "Search-only users", description: "A table with no filterable columns", content_padding: false do
      = table :search_only_users
