<div class="max-w rounded-lg overflow-hidden shadow-lg">
  <div class="bg-white border-b-2 border-neutral-100 px-6 py-3 dark:border-white/10">Non custom view users</div>
  <%= table :non_custom_view_users %>
</div>
