<% count = Mensa::Export.completed_count(table_name, user) %>
<span id="<%= Mensa::Export.badge_dom_id(table_name, user) %>"
      class="mensa-table__control_bar__badge <%= 'hidden' unless count.positive? %>"
      aria-hidden="<%= count.positive? ? 'false' : 'true' %>">
  <%= count %>
</span>
