/ The list of a user's downloads for a table. Replaced via Turbo stream when a
/ new export is created or finishes processing.
div id=Mensa::Export.list_dom_id(table_name, user) class="mensa-table__export-dialog__downloads"
  h3.mensa-table__export-dialog__section-title
    = t("mensa.exports.available_downloads", default: "Available downloads")
  - if exports.blank?
    p.mensa-table__export-dialog__empty
      = t("mensa.exports.empty", default: "You have no downloads yet. Create one below.")
  - else
    ul.mensa-table__export-dialog__list
      - exports.each do |export|
        li.mensa-table__export-dialog__item
          .mensa-table__export-dialog__item-info
            span.mensa-table__export-dialog__item-name
              = export.filename.presence || t("mensa.exports.item_name", default: "%{table} export", table: export.table_name.to_s.humanize)
            span.mensa-table__export-dialog__item-meta
              = export.created_at.strftime("%Y-%m-%d %H:%M")
          .mensa-table__export-dialog__item-action
            - if export.downloadable?
              = link_to mensa.download_table_export_path(export.table_name, export), class: "mensa-table__export-dialog__download", data: {turbo: false} do
                i.fa-solid.fa-download
                = t("mensa.exports.download", default: "Download")
            - elsif export.failed?
              span.mensa-table__export-dialog__status.mensa-table__export-dialog__status--failed
                = t("mensa.exports.failed", default: "Failed")
            - else
              span.mensa-table__export-dialog__status.mensa-table__export-dialog__status--pending
                i.fa-solid.fa-spinner.fa-spin
                = t("mensa.exports.processing", default: "Preparing…")
