th[scope="col"]
  .flex.items-center.h-8
    .title.w-full.pr-3 = column.human_name
    .flex.items-center
      .pr-3
        ruby:
          new_direction = if params[:order]&.[](column.name) == 'asc'
                            'desc'
                          elsif params[:order]&.[](column.name) == 'desc'
                            nil
                          else
                            'asc'
                          end
          icon = if params[:order]&.[](column.name) == 'asc'
                            'fa-sort-down'
                          elsif params[:order]&.[](column.name) == 'desc'
                            'fa-sort-up'
                          else
                            'fa-sort'
                          end
        = link_to table.path(order: {column.name.to_s => new_direction}), "data-turbo-frame": "_self"
          i.fa-thin.cursor-pointer class=icon
